{% extends "layouts/default.html" %}

    {% block body %}
        <h2>Exercisse n°4</h2>
        {% if data.sexe == "Homme" %}
            <p>Bonjour Mr {{ data.nom }} {{ data.prenom }}, votre nom d'utilisateur est {{ data.pseudo }}</p>
        {% elif data.sexe == "Femme" %}
            <p>Bonjour Mme {{ data.nom }} {{ data.prenom }}, votre nom d'utilisateur est {{ data.pseudo }}</p>
        {% elif data.sexe == "Autre" %}
            <p>Bonjour {{ data.nom }} {{ data.prenom }}, votre nom d'utilisateur est {{ data.pseudo }}</p>

        {% endif %}
    {% endblock %}